@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
    margin:0;
    padding: 0;
}

body {
    background-color: blue;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    display:flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    max-width: 35%;  
    border-radius: 3px;
}

i {
    font-size: 1em;
    text-align: center;
}



#quote-box {

    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}

#author-box {
    margin-left: auto; 
    margin-right: 10px;
    
    float: right;
}
.quote-text {
    text-align: center;
    width: auto;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.5em;
}
.custom-color, .custom-color:hover {
    color: orange;
    
}
.button {
    height: 35px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    font-size: 0.85em;
    font-weight: 500;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
    text-decoration:  none;
}

.button:hover {
    text-decoration: none;
    color: #fff;
}
#tweet-quote, #tumblr-quote {
    float: left;
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 1em;
    margin-right: 5px;
    height: 40px;
    width: 40px;
        
      }

      #new-quote{
        float: right;
      
      }
    
    @media (max-width: 1100px) {
        .container {
          max-width:50%;
        
        }
        .quote-text {
            font-size: 1.4em;
        }
      }
    
    @media (max-width: 500px) {
        .container {
         max-width:80%;
           
        }
        .quote-text {
          font-size: 0.9em;
        }
      }